<template>
  <div>
    <h1>Bienvenue sur l'app nonogramme en Vue.js !</h1>
    <p>
      Cette app est un tutoriel pensé pour apprendre
      à maîtriser le framework Vue.js,
      tout en fabriquant un petit jeu vidéo orienté sur les nonogrammes,
      plus connu sous le nom de Picross !
    </p>
  </div>
</template>
