<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Accueil</router-link> |
      <router-link to="/editor">Éditeur</router-link> |
      <router-link to="/game">Jeu</router-link> |
      <router-link to="/about">À propos</router-link>
    </div>
    <transition name="fade-x" appear mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<style>
html, body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 100%;
}
label {
  display: block;
  margin: .5rem 0;
}
body {
  display: flex;
  justify-content: space-between;
}
main {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  text-align: center;
}
main h2 {
  text-align: right;
  margin: 1rem;
}
main > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#timer-container {
  margin: 1rem;
}
aside {
  width: 20rem;
  height: 100%;
  padding: 0 1rem;
  border-right: 1px solid gray;
}
input {
  width: 100%;
  border: 1px solid gray;
  border-radius: unset;
  padding: .25rem;
  margin-bottom: 1rem;
}
button {
  margin: 0.5rem auto;
  display: block;
}

/**
 * Transition CSS
 */
.fade-x-enter,
.fade-x-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.fade-x-enter-active,
.fade-x-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}
</style>
